@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
}


:root{
    --color-white:#ffffff;
    --color-grey:#c0c0c0;
    --color-blue:#167bf7;
    --color-blue-hover:#64a7f8;
    --color-black:#00030c;
    --font-inter:'Inter', sans-serif;

}

body{
    background-color:var(--color-black);
    color: var(--color-white);
    font-family: var(--font-inter);
    font-weight: 400;
    font-size: 1rem;
}

.container__cabecalho{
    background-image: url("/assets/Background.png");
    background-repeat: no-repeat;
    background-size: contain;
    text-align: center;
    align-items: center;
}

.container{
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
   
}

.container__conteudo{
    margin: 0 6em;
}

.container__titulo{
    font-weight: 700;
    font-size: 1.75rem;
}

.container__imagem{
    margin: 1em 0 2em 0;

}

.container__botao{
    background-color: var(--color-blue);
    color: var(--color-white);
    border-radius: 0.3rem;
    padding: 1em;
    display: block;
    margin-bottom: 1em;
}

.container__botao:hover{
    background-color: var(--color-blue-hover);
    color: var(--color-black);
}

.botao__secundario{
    background-color: transparent;
    border: 0.12rem solid var(--color-white) ; 
}

.container__aviso{
    color: var(--color-grey);
    display: block;
    font-size: 0.75rem;
}

/* Section 2 */

.container-secundario{
    align-items: center;
    margin: 0 10em;
}

.container-secundario__imagem{
    width: 80%;
}

.container-secundario__descricao__titulo{
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 0.1em;
}

.container-secundario__descricao__paragrafo{
    color: var(--color-grey);
}

.container-secundario__descricao{
    padding: 2em;
}

.container-secundario__botao{
    display: inline-block;
    margin-top: 1em;
}


/*Section 4 -dispositivos*/

.dispositivos{
    text-align: center;
}

.dispositivos__titulo{
    font-size: 3rem;
    font-weight: 700;
}

.dispositivos__lista{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    list-style-type: none;   
    margin: 5em 0 ;
}

.dispositivos__lista__itens{
    font-size: 2rem;
    font-weight: 700;

}

/*Section 5 -Footer */

.rodape{
    text-align: center;
}

.rodape__imagem{
    margin: 5em 3em;
}
.rodape__lista{
    display: flex;
    justify-content: center;
    list-style-type: none;
    gap: 1rem;
    margin-bottom: 2em;
}

.rodape__lista a{
    text-decoration: none;
    color: var(--color-white);
    margin-bottom: 1em ;
}

.dispositivos__paragrafo {
    font-size: 0.87rem;
    color: var(--color-grey);
    margin-bottom: 1em;    
}

.rodape__lista a:hover{
    color: var(--color-grey);
}

@media  (max-width: 1200px){

    body{
        padding: 0 1em;
    }

    .container{
        height: 100vh;
    }

    .container__cabecalho{
        background-image: url("/assets/background-cel.JPG");
        background-repeat: no-repeat;
        background-position: top center;
        background-size: 100%;
        display: flex;
        flex-direction: column;
        justify-content: end;
    }

    .container__conteudo{
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .box1{
        order: 0;
    }

    .box2{
        order: 1;
    }

    .box3{
        order: 2;
    }
    .container-secundario{     
        margin: 3em 0 0 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .container-secundario__descricao{
        order: 2;
    }

    .bloco1{
        order: 1;
    }

    
    .container__imagem{
        margin: 2em 0 2em 0;
    }

    .dispositivos{
        margin-top: 2em;
    }

    .dispositivos__lista{
        flex-direction: column;
        margin: 2em 0 0 0;
    }

    .rodape__lista {
        display: flex;
        flex-direction: column;
    }

    .rodape__imagem{
        margin: 3em 0 3em 0;
    }
   
}
    
