@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
}


:root{
    --color-white:#ffffff;
    --color-grey:#c0c0c0;
    --color-blue:#167bf7;
    --color-black:#00030c;
    --font-inter:'Inter', sans-serif;

}

body{
    background-color:var(--color-black);
    color: var(--color-white);
    font-family: var(--font-inter);
    font-weight: 400;
    font-size: 1rem;
}

.container__cabecalho{
    background-image: url("/assets/Background.png");
    background-repeat: no-repeat;
    background-size: contain;
    text-align: center;
    align-items: center;
}

.container{
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
   
}

.container__conteudo{
    margin: 0 6em;
}

.container__titulo{
    font-weight: 700;
    font-size: 1.75rem;
}

.container__imagem{
    margin: 1em 0 2em 0;

}

.container__botao{
    background-color: var(--color-blue);
    color: var(--color-white);
    border-radius: 0.3rem;
    padding: 1em;
    display: block;
    margin-bottom: 1em;

}

.botao__secundario{
    background-color: transparent;
    border: 0.12rem solid var(--color-white) ; 
}

.container__aviso{
    color: var(--color-grey);
    display: block;
    font-size: 0.75rem;
}

/* Section 2 */

.container-secundario{
    align-items: center;
    margin: 0 10em;
}

.container-secundario__imagem{
    width: 80%;
}

.container-secundario__descricao__titulo{
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 0.1em;
}

.container-secundario__descricao__paragrafo{
    color: var(--color-grey);
}

.container-secundario__descricao{
    padding: 2em;
}

.container-secundario__botao{
    display: inline-block;
    margin-top: 1em;
}

/*Section 3* / 
